@import 'src/assets/sass/variables';

.sidebar {
  height: 100%;
  background-color: $main-color;

  &__title {
    width: 100%;
    height: 64px;
    background-color: whitesmoke;
    color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
  }
}

mat-list-item {
  cursor: pointer;

  mat-icon {
    color: whitesmoke;
    margin-right: 10px;
  }

  span {
    color: whitesmoke;
  }
}

.is-active {
  width: 90% !important;
  border-left: 5px solid whitesmoke;
}
